<div class="navbar is-dark" role="navigation" >
    <div class="navbar-brand">
        <a class="navbar-item">
            <img class="is-rounded" src="assets/image/webLogo.jpg" alt="Logo" routerLink="/">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/projects">Projects</a>
            <a class="navbar-item" routerLink="/about">About</a>
            <a class="navbar-item" routerLink="/contact">Contact</a>
        </div>
    </div>
</div>
