<footer class="footer">
    <div class="container content has-text-centered">
        <p>
            | <a routerLink="/">Home</a>
            | <a routerLink="/about">About</a>
            | <a href="https://github.com/pwmcbride1">Github</a>
            | <a routerLink="/contact">Contact</a>
            | <a routerLink="/projects">Projects</a>
            | <a routerLink="/aboutsite">Site Info</a>
            |
        </p>
        <p>Made By Patrick McBride Using Angular CLI</p>
    </div>
</footer>