<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">About Me</h1>
        </div>
    </div>
</section>

<div class="has-text-centered mt-6 mb-3 is-family-code">
    Below is a breakdown of my educational and professional history. You can also download and view my most 
    updated resume below.
</div>

<a href="assets/PatrickResume.pdf" download="PatrickMcBrideResume.pdf">
<div class="has-text-centered">
    <button class="btn"><i class="fa fa-download"></i> Resume</button>
</div>
</a>

<!-- Education section -->
<section class="section section-padding-large mb-6">
    <div class="title px-6 mb-6">
        Education
    </div>   

    <div class="column">
        <img src="assets/image/ivygrad.jpg" alt="Placeholder image">
    </div>

    <div class="column">
    <!-- IU Info -->
    <a href="https://luddy.indiana.edu/">
        <div class="container is-clickable mb-3">
            <div class="notification is-success">
                <div class="has-text-centered is-size-3">
                    Indiana University - Bloomington
                </div>
                <div class="has-text-centered is-size-4">
                    Bachelor's of Science in Computer Science
                </div>
                <div class="has-text-centered is-size-4">
                    Specializing in Software Engineering
                </div>
                <div class="has-text-centered is-size-5">
                    Graduated December 16, 2020
                </div>
                <div class="has-text-centered is-size-6">
                    107 S Indiana Avenue
                </div>
                <div class="has-text-centered is-size-6">
                    Bloomington, IN 47405
                </div>
            </div>
        </div>
        </a>

        <!-- Highschool info -->
        <a href="https://rbbschools.net/">
        <div class="container is-clickable mb-3">
            <div class="notification is-success">
                <div class="has-text-centered is-size-3">
                    Edgewood High School
                </div>
                <div class="has-text-centered is-size-4">
                    Core 40 Technical Honors
                </div>
                <div class="has-text-centered is-size-5">
                    Graduated June 6, 2016
                </div>
                <div class="has-text-centered is-size-6">
                    601 S Edgewood Dr.
                </div>
                <div class="has-text-centered is-size-6">
                    Ellettsville, IN 47429
                </div>
            </div>
        </div>
        </a>

        <!-- Ivy Tech info -->
        <a href="https://www.ivytech.edu/">
        <div class="container is-clickable mb-3">
            <div class="notification is-success">
                <div class="has-text-centered is-size-3">
                    Ivy Tech Community College - Bloomington
                </div>
                <div class="has-text-centered is-size-4">
                    Associate's of Science in General Studies
                </div>
                <div class="has-text-centered is-size-5">
                    Graduated May 12, 2017
                </div>
                <div class="has-text-centered is-size-6">
                    122 S Walnut St.
                </div>
                <div class="has-text-centered is-size-6">
                    Bloomington, IN 47404
                </div>
            </div>
        </div>
        </a>

        </div>
    
</section>

<!-- Employment history -->
<section class="section section-padding-large">
    <div class="title mt-6 px-6 mb-6">
        Employment
    </div>

    <div class="row">
    <div class="column">
        <!-- Technology Consultant -->
        <div class="container is-clickable mb-3">
            <div class="notification is-info">
                <div class="has-text-centered is-size-3">
                    Indiana University Technology Center Consulting
                </div>
                <div class="has-text-centered is-size-4">
                    Technology Consultant
                </div>
                <div class="has-text-centered is-size-5">
                    May 2019 - January 2021
                </div>
                <div class="has-text-centered is-size-6">
                    1320 E 10th Street
                </div>
                <div class="has-text-centered is-size-6 mb-3">
                    Bloomington, IN 47405
                </div>
                <div class="has-text-centered is-size-6">
                    Responsibilities:
                </div>
                <div class="has-text-centered is-size-6">
                    • Identify and solve 30+ technology tickets per shift, aid students and faculty with fixing hardware
                    issues, installing software, and printing
                </div>
                <div class="has-text-centered is-size-6">
                    • Coordinated with staff of 4+ consultants per shift to identify and solve technology issues across 120+
                    campus technology labs
                </div>
                <div class="has-text-centered is-size-6">
                    • Proactively educate University students, faculty, and staff about all available campus technologies
                </div>
            </div>
        </div>

        <!-- Creative director -->
        <a href="https://www.youtube.com/channel/UC22KfMVK7Tk_bGxrV4HSmJQ">
        <div class="container is-clickable mb-3">
            <div class="notification is-info">
                <div class="has-text-centered is-size-3">
                    Davis and McBride Educational LLC
                </div>
                <div class="has-text-centered is-size-4">
                    Creative Director
                </div>
                <div class="has-text-centered is-size-5">
                    November 2016 - November 2017
                </div>
                <div class="has-text-centered is-size-6">
                    4278 W Harrington St.
                </div>
                <div class="has-text-centered is-size-6 mb-3">
                    Bloomington, IN 47404
                </div>
                <div class="has-text-centered is-size-6">
                    Responsibilities:
                </div>
                <div class="has-text-centered is-size-6">
                    • Manage the company YouTube channel, writing descriptions and fielding comments
                </div>
                <div class="has-text-centered is-size-6">
                    • Developed video presentations leveraged during customer onboarding of 50+ partner companies
                </div>
                <div class="has-text-centered is-size-6">
                    • Communicate with and distribute recruiting materials to local schools and businesses 
                </div>
                <div class="has-text-centered is-size-6 mb-3">
                    • Filmed, edited, and uploaded a series of video interviews with industry partners for the YES! Program
                    at various locations to provide instructional videos for teaching and recruiting purposes 
                </div>
            </div>
        </div>
        </a>
        </div>

        <div class="column">
            <img src="assets/image/profile pic.jpg" alt="Placeholder">
        </div>
        </div> 

</section>



<!-- Skills -->
<section class="section section-padding-large mb-6">
    <div class="title mt-6 px-6 mb-6">
        Skills
    </div>

    <div class="container mb-3">
        <div class="notification is-success">
            <div class="has-text-centered is-size-3">
                Programming Languages
            </div>
            <div class="has-text-centered is-size-5">
                Java - Python - C - C++ - Angular - JavaScript - SQL - HTML - CSS
            </div>
        </div>
    </div>

    <div class="container mb-3">
        <div class="notification is-success">
            <div class="has-text-centered is-size-3">
                Platforms
            </div>
            <div class="has-text-centered is-size-5">
                Linux - Microsoft Windows    
            </div>
        </div>
    </div>

    <div class="container">
        <div class="notification is-success">
            <div class="has-text-centered is-size-3">
                Industry
            </div>
            <div class="has-text-centered is-size-5">
                Junit User Testing - Agile/SCRUM - Jira
            </div>
        </div>
    </div>
</section>


<section class="section section-padding-large mb-6">
    <div class="title px-6 mb-6">
        Leadership 
    </div>
    <div class="container mb-3">
        <div class="notification is-info">
            <div class="has-text-centered is-size-3">
                Boy Scouts of America
            </div>
            <div class="has-text-centered is-size-5">
                Eagle Scout - Assistant Scoutmaster
            </div>
            <div class="has-text-centered is-size-5">
                Troop 119 - Bloomington, IN
            </div>
        </div>
    </div>
</section>
