.is-clickable {
    cursor: pointer;
}

.btn {
    background-color: dodgerblue;
    border: none;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: dodgerblue;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}