<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">About Me</h1>
        </div>
    </div>
</section>

<div class="has-text-centered mt-6 is-family-code">
    Below is a breakdown of my educational and professional history. You can also download and view my most 
    updated resume below.
</div>
<div class="has-text-centered">
    <a href="assets/PatrickResume.pdf" download="PatrickMcBrideResume.pdf">PatrickMcBrideResume.pdf</a>
</div>

<!-- Education section -->
<section class="section section-padding-large mb-6">
    <div class="title mt-6 px-6 mb-6">
        Education
    </div>

        <!-- Highschool info -->
        <a href="https://rbbschools.net/">
        <div class="container is-clickable mb-3">
            <div class="notification is-success">
                <div class="has-text-centered is-size-3">
                    Edgewood High School
                </div>
                <div class="has-text-centered is-size-4">
                    Core 40 Technical Honors
                </div>
                <div class="has-text-centered is-size-5">
                    Graduated June 6, 2016
                </div>
                <div class="has-text-centered is-size-6">
                    601 S Edgewood Dr.
                </div>
                <div class="has-text-centered is-size-6">
                    Ellettsville, IN 47429
                </div>
            </div>
        </div>
        </a>

        <!-- Ivy Tech info -->
        <a href="https://www.ivytech.edu/">
        <div class="container is-clickable mb-3">
            <div class="notification is-success">
                <div class="has-text-centered is-size-3">
                    Ivy Tech Community College - Bloomington
                </div>
                <div class="has-text-centered is-size-4">
                    Associate's of Science in General Studies
                </div>
                <div class="has-text-centered is-size-5">
                    Graduated May 12, 2017
                </div>
                <div class="has-text-centered is-size-6">
                    122 S Walnut St.
                </div>
                <div class="has-text-centered is-size-6">
                    Bloomington, IN 47404
                </div>
            </div>
        </div>
        </a>

        <!-- IU info -->
        <a href="https://luddy.indiana.edu/">
        <div class="container is-clickable mb-3">
            <div class="notification is-success">
                <div class="has-text-centered is-size-3">
                    Indiana University - Bloomington
                </div>
                <div class="has-text-centered is-size-4">
                    Bachelor's of Science in Computer Science
                </div>
                <div class="has-text-centered is-size-4">
                    Specializing in Software Engineering
                </div>
                <div class="has-text-centered is-size-5">
                    Graduated December 16, 2020
                </div>
                <div class="has-text-centered is-size-6">
                    107 S Indiana Avenue
                </div>
                <div class="has-text-centered is-size-6">
                    Bloomington, IN 47405
                </div>
            </div>
        </div>
        </a>

</section>

