<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">About the Site</h1>
            <p class="subtitle">Tech Stack and Credits</p>
        </div>
    </div>
</section>

<p class="has-text-centered is-family-code mt-6 mb-6">Below is the tech stack as well as credit for all of the images used
    on this site.
</p> 

<section class="section section-padding-large px-6">
    <div class="title px-6">
        Images
    </div>
    <p class="px-6 mb-6">
        All Pictures used on this website can be found through the following sources.
    </p>
    <div class="container">
        <div class="notification is-success has-text-centered">
            <a href="https://www.pexels.com/">Pexels</a> - The best free stock photos & videos shared by talented creators.
        </div>
    </div>
    <p class="mb-3"></p>
    <div class="container">
        <div class="notification is-success has-text-centered">
            <a href="https://abcletters.org/abc-letters-green.html">ABCLetters</a> - Free printable letter templates.
        </div>
    </div> 
</section>

<section class="section section-padding-large px-6">
    <div class="title px-6">
        Tech Stack
    </div>
    <p class="px-6">
        Below are all of the technologies used throughout the website.
    </p>
</section>

<section class="section">
    <div class="cardcontainer px-6">
        <!-- Angular card -->
        <a href="https://angular.io/">
        <div class="card is-clickable">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="assets/image/Angularlogo.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="assets/image/Angularlogo.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-contact">
                        <p class="title is-4">Angular CLI</p>
                        <p class="subtitle is-6">Version 11.1.4</p>
                    </div>
                </div>
                <div class="content">
                    <a href="https://angular.io/">Angular</a> is a TypeScript-based open-source web 
                    application framework led by the Angular Team at Google and by a community of individuals and corporations. 
                    Angular is a complete rewrite from the same team that built AngularJS. Angular also lends itself well to reusing
                    code across multiple platforms.
                </div>
            </div>
        </div>
        </a>

        <!-- Node.js card -->
        <a href="https://nodejs.org/en/">
        <div class="card is-clickable">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="assets/image/nodejs.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="assets/image/nodejs.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-contact">
                        <p class="title is-4">Node.js</p>
                        <p class="subtitle is-6">Version 14.15.0</p>
                    </div>
                </div>
                <div class="content">
                    <a href="https://nodejs.org/en/">Node.js</a> is an open-source, cross-platform, 
                    back-end JavaScript runtime environment that runs on the Chrome V8 engine and executes 
                    JavaScript code outside a web browser. Node.js lets developers use JavaScript to write 
                    command line tools and for server-side scripting—running scripts server-side to produce 
                    dynamic web page content before the page is sent to the user's web browser.
                </div>
            </div>
        </div>
        </a>

        <!-- Bulma card -->
        <a href="https://bulma.io/">
            <div class="card is-clickable">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="assets/image/bulma-banner.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="assets/image/bulma-banner.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-contact">
                            <p class="title is-4">Bulma.io</p>
                            <p class="subtitle is-6">Version 0.9.1</p>
                        </div>
                    </div>
                    <div class="content">
                        <a href="https://bulma.io/">Bulma.io</a> is a free, open source framework that 
                        provides ready-to-use frontend components that you can easily combine to build responsive 
                        web interfaces.
                    </div>
                </div>
            </div>
            </a>

            <!-- Mailthis card -->
            <a href="https://mailthis.to/">
                <div class="card is-clickable">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="assets/image/mailthis.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-48x48">
                                    <img src="assets/image/mailthis.png" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-contact">
                                <p class="title is-4">Bulma.io</p>
                                <p class="subtitle is-6">Version 2.3</p>
                            </div>
                        </div>
                        <div class="content">
                            <a href="https://mailthis.to/">Mailthis</a> is a free HTML 5 API that allows you to
                            post form data to your email. This API also implements reCaptcha to protect users from
                            spam and verify the form data.
                        </div>
                    </div>
                </div>
                </a>

    </div>
</section>