<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Projects</h1>
        </div>
    </div>
</section>

<p class="has-text-centered mb-6 mt-6 is-family-code">
    Below is a list of current and previous projects I have worked on. Click on the project card to see more information.
</p>

<section class="section">
    <div class="cardcontainer px-6">
        <a href="https://tarkovmapselector.herokuapp.com">
            <div class="card is-clickable">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="assets/image/OIP.jpg" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="assets/image/OIP.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-contact">
                            <p class="title is-4">Tarkov Map Selector</p>
                            <p class="subtitle is-6">Version 1.0.0</p>
                        </div>
                    </div>
                    <div class="content">
                        Escape from Tarkov is a multiplayer online video game. This website allows users who
                        play the game to select a map to play. The site randomly selects a map from the map pool
                        and displays it for the user. This site also allows users to favorite maps, which give
                        gives an elevated probability of the favortied map being selected.
                    </div>
                </div>
            </div>
            </a>
    </div>
</section>