<section class="hero is-primary is-fullheight has-background is-bold">
    <img alt="Background" class="hero-background is-transparent" src="assets/image/homeHero.jpg"/>
        <div class="hero-body">
            <div class="container">
                <p class="title has-text-centered">
                    <b>Welcome to my site!</b>
                </p>
            </div>
        </div>
</section>

<a routerLink="/about">
<section class="hero is-medium has-background is-bold mb-4">
    <img alt="Background" class="hero-background is-abouttransparent" src="assets/image/aboutbanner.png"/>
        <div class="hero-body">
            <div class="container">
                <p class="title has-text-black">
                    <b>About me</b>
                </p>
                <p class="subtitle is-family-code has-text-black">
                    <b>Click to learn more about me</b>
                </p>
            </div>
        </div>
</section>
</a>

<a routerLink="/projects">
<section class="hero is-medium has-background is-bold mb-4">
    <img alt="Background" class="hero-background is-projecttransparent" src="assets/image/projectbanner.jpg"/>
        <div class="hero-body">
            <div class="container">
                <p class="title has-text-right has-text-black">
                    <b>Projects</b>
                </p>
                <p class="subtitle has-text-right is-family-code has-text-black">
                    <b>Click to learn about my current and past projects</b>
                </p>
            </div>
        </div>
</section>
</a>

<a routerLink="/aboutsite">
<section class="hero is-medium has-background is-bold mb-4">
    <img alt="Background" class="hero-background is-projecttransparent" src="assets/image/infobanner.png"/>
        <div class="hero-body">
            <div class="container">
                <p class="title has-text-black">
                    <b>Site Info</b>
                </p>
                <p class="subtitle is-family-code has-text-black">
                    <b>Click to learn more about the website</b>
                </p>
            </div>
        </div>
</section>
</a>

<a routerLink="/contact">
<section class="hero is-medium has-background is-bold mb-4">
    <img alt="Background" class="hero-background is-contacttransparent" src="assets/image/contactbanner.jpg"/>
        <div class="hero-body">
            <div class="container">
                <p class="title has-text-right has-text-black">
                    <b>Contact Me</b>
                </p>
                <p class="subtitle has-text-right is-family-code has-text-black">
                    <b>Click to contact me</b>
                </p>
            </div>
        </div>
</section>
</a>